%h2 Esther and Grace's Easter Egg

%br

.row
  .span8
    %p
      Dear Esther and Grace (or Gresther, or Estace hahaha),

    %p
      I can't express how much I will miss you guys. I probably don't say it much, 
      or maybe I've never said it, but you guys are awesome and I will miss you 
      guys so so soooooooo much.

    %p
      Please pray for us (Rose and me and also New Life) because you guys are 
      leaving a big hole here when you leave. I'm not saying this to make you 
      guys feel bad, I'm saying it to let you guys know what an amazing job you 
      two did here. You guys touched the lives of everyone out here.

    %p
      Pastor Keith always says that for short term missions, it's usually YOU 
      who get's blessed more than the people you go out to. But in this case it's 
      clear that everyone in BJ was blessed in huge ways because of you two. And 
      I'm not just saying this on behalf of New Life or anything. You guys were 
      a huge blessing to me personally.

    %p
      辛苦了 for all the babysitting, letting people stay w/ you, and investing 
      in the lives of the people here. I'm not amazed because you guys were 
      willing to do all those things, that's kind of a given :) But I'm amazed 
      by your attitudes. You girls were never negative about anything and always 
      so willing to help out and so happy to do so. I learn so much from you two 
      \- I see hearts of Christ and hearts of missionaries in both of you.

    %p
      Thank you both for putting up with me too. I know I wasn't the best team member 
      and it was a weird time because you two came at a time when I was 
      transitioning through some burnout. But I never felt judged or any sort of 
      disappointment from either of you. I hope people that come in the future are 
      filled with the same sort of grace :) But really, thank you so much for not 
      only putting up with me but even encouraging me during this time.

    %p
      Esther, what I will miss most about you is not your broken English :) Ok 
      just to be clear, I tease you a lot about your English but your English is 
      actually awesome! I just tease you about "paper smasher" because it was so 
      darn cute when you said it in class. Brings a smile to my face every time :)

    %p
      But anyway, what I will miss most about you is your smile. Even at 6am 
      morning prayer you'd walk in with a big smile. It's something I always 
      looked forward to.

    %p
      Grace, what I will miss most about you is how you did NOT smile when you 
      walked into morning prayer. hahaha ok I kid I kid. I will miss two things, 
      your fervent morning prayers and your passion for studying the Bible.
      When things settle down for you I'd love to do more Bible studies with you.

    %p
      I miss you guys so much, I know I would have a really empty feeling if it
      weren't for the fact that we're all brothers and sisters in Christ so I
      know that we're forever together in some way. Rather than being sad that
      you guys are gone I'll try to focus on being happy for having the pleasure
      of having you in my life for a short time.

    %p
      I guess in summary what I'm trying to say is thank you, I miss you, and 
      I love you guys.

    %p
      \-Daniel Yoon - July 23, 2012
  .span4
    .well
      A virtual 
      = link_to 'Easter egg', 'http://en.wikipedia.org/wiki/Easter_egg_(media)'
      is an intentional hidden message, in-joke, or feature in 
      a work such as a computer program, web page, video game, movie, book, or crossword.
    = image_tag 'http://i.imgur.com/rB4MT.png', :class => 'thumbnail'
    %p
      a younger D.Y.
