// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
  h2 {
    color: white;
  }

  background-image:url('tree2.jpg');
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0px 2px 3px #111;
}

.hero-sub-italic {
  font-style: italic;
  font-weight: normal;
}

.hero-sub-normal {
  font-style: normal;
  font-weight: normal;
}

.staff_title {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.2em;
}

#contact-form {
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
    height: 200px;
  }
}
