// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
  h2 {
    color: white;
  }

  background-image:url('tree1.JPG');
  background-repeat: no-repeat;
  color: white;
}

.hero-sub-italic {
  font-style:italic;font-weight:normal;
}

.staff_title {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.2em;
}
